<ocx-portal-page
  permission="AGENT#SEARCH"
  [helpArticleId]="'AGENT_SEARCH.HELP_ARTICLE_ID' | translate"
  *ngrxLet="viewModel$; let vm"
>
  <ocx-search-header
    [header]="'AGENT_SEARCH.HEADER' | translate"
    [subheader]="'AGENT_SEARCH.SUB_HEADER' | translate"
    (searched)="search(agentSearchFormGroup)"
    (resetted)="resetSearch()"
    [manualBreadcrumbs]="true"
    [actions]="(headerActions$ | async) ?? []"
    (componentStateChanged)="searchHeaderComponentStateChanged($event)"
    [viewMode]="vm.searchHeaderComponentState?.activeViewMode ?? 'basic'"
    [attr.aria-label]="'AGENT_SEARCH.HEADER_ARIA_LABEL' | translate"
  >
    <form [formGroup]="agentSearchFormGroup">
      <div class="grid mt-0 p-fluid">
        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_tenant_id"
              type="text"
              class="w-full"
              formControlName="tenantId"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.TENANT_ID.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.TENANT_ID.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_tenant_id" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.TENANT_ID.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_name"
              type="text"
              class="w-full"
              formControlName="name"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.NAME.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.NAME.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_name" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.NAME.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_status"
              type="text"
              class="w-full"
              formControlName="status"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.STATUS.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.STATUS.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_status" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.STATUS.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_version"
              type="number"
              class="w-full"
              formControlName="version"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.VERSION.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.VERSION.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_version" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.VERSION.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_model_id"
              type="text"
              class="w-full"
              formControlName="modelId"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.MODEL_ID.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.MODEL_ID.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_model_id" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.MODEL_ID.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_scaffold_id"
              type="text"
              class="w-full"
              formControlName="scaffoldId"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.SCAFFOLD_ID.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.SCAFFOLD_ID.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_scaffold_id" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.SCAFFOLD_ID.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>

        <div class="col-12 md:col-6 xl:col-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="onecx-ai-provider-ui_agent_search_criteria_runtime_config_id"
              type="text"
              class="w-full"
              formControlName="runtimeConfigId"
              [pTooltip]="'AGENT_SEARCH.CRITERIA.RUNTIME_CONFIG_ID.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'AGENT_SEARCH.CRITERIA.RUNTIME_CONFIG_ID.ARIA_LABEL' | translate"
            />
            <label for="onecx-ai-provider-ui_agent_search_criteria_runtime_config_id" class="white-space-nowrap">
              {{ 'AGENT_SEARCH.CRITERIA.RUNTIME_CONFIG_ID.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>
      </div>
    </form>
  </ocx-search-header>

  <ocx-content-container layout="horizontal">
    <ocx-content class="w-full">
      <ocx-interactive-data-view
        (viewItem)="details($event)"
        viewPermission="AGENT#VIEW"
        [data]="vm.results"
        [columns]="vm.columns"
        [emptyResultsMessage]="'AGENT_SEARCH.EMPTY_RESULTS' | translate"
        (componentStateChanged)="resultComponentStateChanged($event)"
        [layout]="vm.resultComponentState?.layout ?? 'table'"
        [supportedViewLayouts]="['table']"
        [page]="vm.resultComponentState?.activePage ?? 0"
        [pageSize]="vm.resultComponentState?.pageSize"
        [filters]="vm.resultComponentState?.filters ?? []"
        [sortField]="vm.resultComponentState?.sorting?.sortColumn"
        [sortDirection]="vm.resultComponentState?.sorting?.sortDirection ?? defaultDataSortDirection"
        [selectedRows]="vm.resultComponentState?.selectedRows?? []"
        [defaultGroupKey]="vm.resultComponentState?.activeColumnGroupKey ?? 'AGENT_SEARCH.PREDEFINED_GROUP.DEFAULT'"
        [actionColumnPosition]="vm.resultComponentState?.actionColumnConfig?.position?? 'right'"
        [frozenActionColumn]="vm.resultComponentState?.actionColumnConfig?.frozen ?? false"
        [attr.aria-label]="'AGENT_SEARCH.RESULTS_ARIA_LABEL' | translate"
      >
      </ocx-interactive-data-view>
    </ocx-content>
    @if (vm.results.length > 0 && vm.chartVisible && (diagramColumn$ | async)) {
    <ocx-content class="w-full lg:w-3">
      <div class="flex flex-column md:flex-row lg:flex-column justify-content-center">
        @if (diagramColumn$ | async; as diagramColumn) {
        <ocx-group-by-count-diagram
          [data]="vm.results"
          [column]="diagramColumn"
          sumKey="AGENT_SEARCH.DIAGRAM.SUM"
          [diagramType]="vm.diagramComponentState?.activeDiagramType ?? defaultDiagramType"
          (componentStateChanged)="diagramComponentStateChanged($event)"
          [attr.aria-label]="'AGENT_SEARCH.DIAGRAM.ARIA_LABEL' | translate"
        ></ocx-group-by-count-diagram>
        }
      </div>
    </ocx-content>
    }
  </ocx-content-container>
</ocx-portal-page>
