<form [formGroup]="formGroup" [attr.aria-label]="'SCAFFOLD_CREATE_UPDATE.FORM.NAME' | translate">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'SCAFFOLD_CREATE_UPDATE.FORM.NAME' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="scaffold_create_update_form_name"
          class="w-full pt-3 pb-2 text-responsive"
          formControlName="name"
          required
          aria-required="true"
        />
        <label class="ocx-required-label" for="scaffold_create_update_form_name">
          {{ 'SCAFFOLD_CREATE_UPDATE.FORM.NAME' | translate }}
        </label>
      </p-floatlabel>
    </div>

    <div [title]="'SCAFFOLD_CREATE_UPDATE.FORM.SYSTEM_PROMPT' | translate">
      <span id="system_prompt" class="absolute message-label text-sm">
        {{ 'SCAFFOLD_CREATE_UPDATE.FORM.SYSTEM_PROMPT' | translate }}
      </span>
      <textarea
        pInputTextarea
        aria-labelledby="system_prompt"
        formControlName="systemPrompt"
        name="systemPrompt"
        class="w-full p-1 border-round-md"
        rows="4"
      ></textarea>
    </div>

    <div [title]="'SCAFFOLD_CREATE_UPDATE.FORM.SKILLS' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <p-multiSelect
          inputId="scaffold_create_update_form_skills"
          [options]="vm.skills"
          optionLabel="name"
          dataKey="id"
          formControlName="skills"
          appendTo="body"
          display="chip"
          class="w-full"
        >
        </p-multiSelect>
        <label for="scaffold_create_update_form_skills"> {{ 'SCAFFOLD_CREATE_UPDATE.FORM.SKILLS' | translate }} </label>
      </p-floatlabel>
    </div>
  </div>
</form>
