@use '/src/app/_provider-mixins.scss' as *;

@include ocx-required-label;

:host {
  display: block;
}

.message-label {
  top: 113px;
  left: 28px;
  background-color: white;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 0.1rem;
}
