<form [formGroup]="formGroup" [attr.aria-label]="'SKILL_CREATE_UPDATE.FORM.NAME' | translate">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'SKILL_CREATE_UPDATE.FORM.NAME' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="skill_create_update_form_name"
          class="w-full pt-3 pb-2 text-responsive"
          formControlName="name"
          required
          aria-required="true"
        />
        <label class="ocx-required-label" for="skill_create_update_form_name">
          {{ 'SKILL_CREATE_UPDATE.FORM.NAME' | translate }}
        </label>
      </p-floatlabel>
    </div>
    <div [title]="'SKILL_CREATE_UPDATE.FORM.DESCRIPTION' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="skill_create_update_form_description"
          class="w-full pt-3 pb-2 text-responsive"
          formControlName="description"
        />
        <label for="skill_create_update_form_description">
          {{ 'SKILL_CREATE_UPDATE.FORM.DESCRIPTION' | translate }}
        </label>
      </p-floatlabel>
    </div>
  </div>
</form>
