<form [formGroup]="formGroup">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'AGENT_CREATE_UPDATE.FORM.NAME' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="agent_detail_form_name"
          class="w-full pt-3 pb-2"
          formControlName="name"
        />
        <label class="ocx-required-label" for="agent_detail_form_name">
          {{ 'AGENT_CREATE_UPDATE.FORM.NAME' | translate }}</label
        >
      </p-floatlabel>
    </div>

    <div [title]="'AGENT_CREATE_UPDATE.FORM.DESCRIPTION' | translate">
      <p-floatlabel variant="on" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="agent_detail_form_description"
          class="w-full pt-3 pb-2"
          formControlName="description"
          [attr.aria-label]="'AGENT_CREATE_UPDATE.FORM.DESCRIPTION' | translate"
        />
        <label class="ocx-required-label" for="agent_detail_form_description">
          {{ 'AGENT_CREATE_UPDATE.FORM.DESCRIPTION' | translate }}</label
        >
      </p-floatlabel>
    </div>
  </div>
</form>
