<form [formGroup]="formGroup">
  <div class="flex flex-wrap flex-column gap-4 justify-content-between mt-2">
    <div [title]="'PROVIDER_CREATE_UPDATE.FORM.NAME' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="provider_detail_form_name"
          class="w-full pt-3 pb-2"
          formControlName="name"
        />
        <label class="ocx-required-label" for="provider_detail_form_name">
          {{ 'PROVIDER_CREATE_UPDATE.FORM.NAME' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'PROVIDER_CREATE_UPDATE.FORM.DESCRIPTION' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="provider_detail_form_description"
          class="w-full pt-3 pb-2"
          formControlName="description"
          [attr.aria-label]="'PROVIDER_CREATE_UPDATE.FORM.DESCRIPTION' | translate"
        />
        <label class="ocx-required-label" for="provider_detail_form_description">
          {{ 'PROVIDER_CREATE_UPDATE.FORM.DESCRIPTION' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'PROVIDER_CREATE_UPDATE.FORM.MODELNAME' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="provider_detail_form_modelName"
          class="w-full pt-3 pb-2"
          formControlName="modelName"
          [attr.aria-label]="'PROVIDER_CREATE_UPDATE.FORM.MODELNAME' | translate"
        />
        <label class="ocx-required-label" for="provider_detail_form_modelName">
          {{ 'PROVIDER_CREATE_UPDATE.FORM.MODELNAME' | translate }}</label
        >
      </span>
    </div>
    <div [title]="'PROVIDER_CREATE_UPDATE.FORM.LLMURL' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="provider_detail_form_llmUrl"
          class="w-full pt-3 pb-2"
          formControlName="llmUrl"
          [attr.aria-label]="'PROVIDER_CREATE_UPDATE.FORM.LLMURL' | translate"
        />
        <label class="ocx-required-label" for="provider_detail_form_llmUrl">
          {{ 'PROVIDER_CREATE_UPDATE.FORM.LLMURL' | translate }}</label>        
      </span>
    </div>
    <div [title]="'PROVIDER_CREATE_UPDATE.FORM.APIKEY' | translate">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="provider_detail_form_apiKey"
          class="w-full pt-3 pb-2"
          formControlName="apiKey"
          [attr.aria-label]="'PROVIDER_CREATE_UPDATE.FORM.APIKEY' | translate"
        />
        <label class="ocx-required-label" for="provider_detail_form_apiKey">
          {{ 'PROVIDER_CREATE_UPDATE.FORM.APIKEY' | translate }}</label>
      </span>
    </div>
  </div>
</form>
