/* global styles */
@use 'primeflex/primeflex.scss';
@use 'primeicons/primeicons.css';

/* portal core */
@use 'node_modules/@onecx/angular-accelerator/assets/styles.scss';

.p-menuitem-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem;
}
